@import 'color.scss';

.productsWrapper {
  display: flex;
  width: 60%;
  min-height: 70vh;
  justify-content: center;
  flex-flow: row wrap;
  margin: 30px auto;
  align-items: center;
}
.product {
  width: 30%;
  height: 200px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 10px;
  border-radius: 5px;
  padding: 10px;
}
.productHeader {
  margin-bottom: 20px;
  text-align: end;
  button {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    padding: 2px;
  }
}
