.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba($color: white, $alpha: 0.9);
}
.form {
  width: 40%;
  margin: 200px auto;
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
}
.formHeader {
  text-align: end;
  button {
    width: 20px;
    height: 20px;
    border: none;
  }
  .title {
    text-align: center;
    font-size: 30px;
  }
}
.formBody {
  width: 40%;
  margin: 30px auto;
}
.inputWrapper {
  text-align: end;
  margin: 10px 0;
}
.formSubmit {
  padding: 5px;
}
